.navbar {
  background: white;
  border-bottom: 1px solid #e5e7eb;
}

.navbar-container {
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.2rem;
  font-weight: 700;
}

.nav-links, .nav-actions, .nav-auth {
  display: flex;
  gap: 2rem;
}

.nav-links a:hover, .nav-actions a:hover, .nav-auth a:hover {
  color: var(--primary);
}

.nav-user {
  margin-right: 10px;
  font-size: 14px;
  color: #333;
}

.nav-logout {
  background: black;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 5px;
}